<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to <%= data.name %>'s Page  @<%= username %> </h1>
    <br>
    <h3>Flowers: <%= data.followers %> &nbsp; &nbsp; &nbsp; Flowing: <%= data.following %></h3>
</body>
</html>
